{% extends "registration/base.html" %}
{% block title %}Reset your password{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Forgotten your password?</h1>
                    <p>Enter your e-mail address to obtain a new password.</p>
                    <form class="form-horizontal" action="." method="post">
                        {{ form.as_p }}
                        <p><button type="submit" class="btn btn-success">Send e-mail</button></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

