{% extends 'story/base.html' %}
{% block title %}{{ article }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="">
                        {% if article.article_pic %}
                            <img src="{{ article.article_pic.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ article.article_title }} <small>{{ article.genre }}</small></h1>
                    <h2>{{ article.author }}</h2>
                    <h3>{{ article.chapter_set.count }} Parts</h3>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'detail' article.id %}">View All Chapters</a></li>
                <li role="presentation"><a href="{% url 'create_chapter' article.id %}">Add New Chapter</a></li>
                <li role="presentation"><a href="{% url 'comment' article.id %}">View All Comments</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Chapters</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for chapter in article.chapter_set.all %}
                            <tr>
                                <td><a href="{{ chapter.file.url }}">{{ chapter.part_title }}</a></td>
                                <td>
                                    <form action="{% url 'delete_chapter' article.id chapter.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
