{% extends 'story/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
<form class="navbar-form" role="search" method="get" action="">
    <div class="form-group">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<div class="articles-container container-fluid">
    <!-- Albums -->
    <div class="row">
        {% if articles %}
            {% for article in articles %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="">
                            <img src="{{ article.article_pic.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ article.article_title }}</h2>
                            <h4>{{ article.author }}</h4>
                            <h4>{{ article.chapter_set.count }} Parts</h4>
                            <!-- View Details -->
                            <a href="{% url 'read' article.id %}" class="btn btn-primary btn-sm" role="button">Read</a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="{% url 'create_article' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Article
                    </button>
                </a>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
